# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/scratch/

# Maven / Java Backend
backend/target/
backend/.project
backend/.classpath
backend/.settings/
backend/*.log
backend/bin/

# IDE / System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
